@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,500i,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,500i,700,900&display=swap");


html, body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  width: 100%;
}

.split{
  display:block;
  margin:10px;
}

.split span{
  display:block;
  float:right;
  width:50%;
  margin-left:10px;
}

.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a,
.button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a:focus,
.button:focus, button:focus {
  text-decoration: none;
  outline: none;
}

a:focus {
  text-decoration: none;
}

a,
button {
  color: #1F1F1F;
  outline: medium none;
}

h1, h3, h4{
  font-family: "Roboto", sans-serif;
  color: #000000;
}

h2, h6, h5{
  font-family: "Roboto", sans-serif;
  color: #fff; 
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
}

ol {
  margin: 0px;
  padding: 0px;
  transform: rotate(180deg);
}

ol > li {
  transform: rotate(-180deg);
}

ol > div {
  transform: rotate(-180deg);
}

li {
  display: list-item;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #000000;
  margin-bottom: 13px;
  font-family: "Roboto", sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.owl-carousel .owl-nav div {
  background: transparent;
  height: 50px;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 50px;
  color: #707070;
  background-color: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  left: 50px;
  font-size: 15px;
  line-height: 50px;
  border: 1px solid #4D6174;
  left: 150px;
  color: #fff;
}

.boxed-btn4 {
  color: #000000;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  border: 1px solid #000000;
  text-align: center;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  padding: 45px 30px;
  margin-bottom: 30px;
  width: 23em
}

.boxed-btn4 p {
  font-size: 16px;
  color: rgb(94, 93, 93);
  line-height: 28px;
  margin-bottom: 0;
}

.boxed-btn4 p :hover {
  color: #fff;
}

.boxed-btn4:hover{
  color: #fff;
  border: 1px solid transparent;
  background: #1176E7;
}

.boxed-btn5 {
  color: #000000;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  border: 1px solid #000000;
  text-align: center;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  padding: 45px 30px;
  margin-bottom: 30px;
  width: 23em
}

.boxed-btn5 p {
  font-size: 16px;
  color: rgb(94, 93, 93);
  line-height: 28px;
  margin-bottom: 0;
}

.boxed-btn5 p :hover {
  color: #fff;
}

.boxed-btn5:hover{
  color: #000000;
  border: 4px solid #1176E7;
}

.boxed-btn2-line{
  color: #000000;
  display: inline-block;
  padding: 17px 49px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #000000;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-align: center;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.boxed-btn2-line:hover {
  color: #fff !important;
  border: 1px solid transparent;
  background: #1176E7;
}

.header-area {
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 9;
  position: absolute;
  padding: 20px 20px;
}

.header-area .main-header-area a{
  float: left;
  display: block;
  color: #fff;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

@media screen and (max-width: 500px){
  .header-area .main-header-area a{
    float: left;
    display: block;
    color: #fff;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
    border-bottom: 3px solid transparent;
  }
}

.header-area .main-header-area a:hover{
  border-bottom: 3px solid #fff;
}

.header-area .main-header-area {
    padding: 20px 20px;
}

.header-area .main-header-area .main-menu {
  text-align: center;
  padding: 12px 0;
}

.header-area .main-header-area .main-menu ul li {
  display: inline-block;
  position: relative;
  margin: 0 10px;
}

.header-area .main-header-area .main-menu ul li a {
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  padding: 0px 0px 0px 0px;
  font-family: "Roboto", sans-serif;
  position: relative;
  text-transform: capitalize;
}

@media screen and (max-width: 500px){
  .header-area .main-header-area .main-menu ul li a {
    color: #fff;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 500;
    display: inline-block;
    padding: 0px 0px 0px 0px;
    font-family: "Roboto", sans-serif;
    position: relative;
    text-transform: capitalize;
  }
}

.header-area .main-header-area .main-menu ul li a i {
  font-size: 9px;
}

.header-area .main-header-area .main-menu ul li .submenu {
  position: absolute;
  left: 0;
  top: 160%;
  background: #fff;
  width: 180px;
  z-index: 2;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.02);
  opacity: 0;
  visibility: hidden;
  text-align: left;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  border: 1px solid #000000
}

.header-area .main-header-area .main-menu ul li .submenu li {
  display: block;
}

.header-area .main-header-area .main-menu ul li .submenu li a {
  padding: 10px 15px;
  position: inherit;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  color: #000000;
}

.header-area .main-header-area .main-menu ul li .submenu li:hover a {
  background: #1176E7;
  color: #fff;
}

.header-area .main-header-area .main-menu ul li:hover > .submenu {
  opacity: 1;
  visibility: visible;
  top: 150%;
}

.header-area .main-header-area.sticky {
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: -70px;
  bottom: 93%;
  left: 0;
  right: 0;
  z-index: 990;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  background: #1176E7;
}

@media screen and (max-width: 500px){
  .header-area .main-header-area.sticky {
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: -13%;
    bottom: 91%;
    left: 0;
    right: 0;
    z-index: 990;
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    background: #1176E7;
  }
}

.header-area .main-header-area.sticky .main-menu {
  padding: 0;
}

.blue_bg_1 {
  background-color: #1176E7;
}

.slider_area .single_slider .slider_text {
  padding: 303px 0;
}

/* this color needs to be worked on*/
.pageTitle_bg_1 {
  background-color: #1176E7;
}

.pageTitle_area {
  background-size: cover;
  background-position: center center;
  padding: 8% 0 43px 0;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}

@media screen and (max-width: 500px){
  .pageTitle_area {
    background-size: cover;
    background-position: center center;
    padding: 34% 0 43px 0;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
  }
}

.pageTitle_area.pageTitle_area2 {
  height: 800px;
  padding-top: 231px;
  padding-bottom: 0;
}

.pageTitle_area.pageTitle_area2 h3 {
  font-size: 46px;
  font-weight: 400;
}

.pageTitle_area h3 {
  font-size: 80px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 0;
  text-transform: capitalize;
}

.pageTitle_area p {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
}

.pageTitle_area h4 {
  font-size: 70px;
  font-weight: 300;
  color: #fff;
  margin: 10px 0;
}

.text-block {
  position: relative;
  top: 40px;
  background-color: #1176E7;
  color: white;
}

.content_area {
  background: #fff;
  padding-bottom: 90px;
  padding-top: 60px;
}

@media screen and (max-width: 500px){
  .content_area {
    background: #fff;
    padding-bottom: 90px;
    padding-top: 60px;
    padding-left: 10px;
  }
}

.content_area.colord_bg {
  background: #fff;
}

.content_area .single_content {
  padding: 45px 30px;
  margin-bottom: 30px;
}

.content_area .single_content h3 {
  color: #fff;
  margin-top: 22px;
  margin-bottom: 11px;
  font-weight: 400;
}


.content_area .single_content p {
  font-size: 16px;
  color: #000000;
  line-height: 28px;
  margin-bottom: 0;
}


.content_products {
  background: #fff;
  padding-top: 0px;
  margin: 0;
}

@media screen and (max-width: 500px){
  .content_products {
    background: #fff;
    padding-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
  }
}


.content_products .padding_left {
  padding-left: 68px;
}

.small_bottom_pad{
  padding-bottom: 25px;
}

.publication_padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

.padding_bottom {
  padding-bottom: 70px;
}

.padding_top {
  padding-top: 70px;
}


.content_products .content_wrap {
  margin-bottom: 60px;
}

@media screen and (max-width: 500px){
  .content_products .content_wrap {
    margin-bottom: 60px;
    margin-left: 10px;
    margin-right: 20px;
  }
}

.content_products .content_wrap .thumb img {
  width: 100%;
}

.content_products .content_wrap .content_text {
  margin: 30px 0;
}

.content_products .content_wrap .content_text h3 {
  color: #000000;
  font-size: 24px;
}

.content_products .content_wrap .content_text p {
  color: #000000;
  font-size: 16px;
  line-height: 28px;
  margin: 30px 0;
}


.content_products .content_wrap .content_text .boxed-btn3-line {
  margin-top: 10px;
}


b,
sup,
sub,
u,
del {
  color: #000000;
}


h1 {
  font-size: 12px;
}


h2 {
  font-size: 24px;
}

@media screen and (max-width: 500px){
  h2 {
    font-size: 20px;
  }
}


h3 {
  font-size: 24px;
}


h4 {
  font-size: 18px;
}


h5 {
  font-size: 35px;
}


h6 {
  font-size: 14px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
}


i {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  margin-left: 3px;
}

.down {
  transform: rotate(45deg);
}

.small_left_pad {
  padding-left: 2px;
}

.slideshow-container {
  max-height: 600px;
  max-width: 700px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}

.demo {
  size: 80px 80px;
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}